# Use PHP version
AddHandler application/x-httpd-php74 .php

# Frontend static files
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect all requests to index.html except API requests
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !^/backend/
  RewriteRule ^ index.html [L]
</IfModule>

# Backend API proxy
<IfModule mod_proxy.c>
  ProxyRequests Off
  ProxyPass /backend http://localhost:8888/backend
  ProxyPassReverse /backend http://localhost:8888/backend
</IfModule>
